<div>
    <ul id="menu">
        <li>
            <a [routerLink]="['/']">HOME</a>
        </li>
        <li>
            <a [routerLink]="['/cine']">CINE</a>
        </li>
        <li>
            <a [routerLink]="['/musica']">MUSICA</a>
        </li>
        <li>
            <a [routerLink]="['/doble']">Número doble</a>
        </li>
        <!-- VALORES POR PARAMETROS -->
        <li>
            <a [routerLink]="['/doble/77']">Número doble de 77</a>
        </li>
        <li>
            <a [routerLink]="['/doble/66']">Número doble de 66</a>
        </li>
    </ul>
</div>